# Core Framework & Web Server
fastapi
uvicorn[standard]

# Database & Migrations
psycopg2-binary
alembic

# Environment & Utilities
python-dotenv
python-multipart
passlib[bcrypt]
bcrypt==4.0.1

# Auth
python-jose
python-jose[cryptography]

# Web Scraping / Automation
playwright
